/* this is for the global variables, meaning anything that is repeated throughtout 
   every page. I still need to move certain things into the other .css files. */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}




body{
    background-color:rgb(255, 255, 255); 
}

.site-header {
  display: flex;
  align-items: center;      /* vertical alignment */
  justify-content: center;  /* centers title horizontally */
  position: relative;       /* allows logo positioning */
  padding: 20px;
}

.logo {
  height: 60px;             /* control logo size */
  width: auto;
  position: absolute;
  left: 20px;               /* locks logo to left */
}



.social-box {
  margin-top:300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #333;
  padding: 40px;
  max-width: 800px;
  text-align: center;
}





