/* this is for the global variables, meaning anything that is repeated throughtout 
   every page. I still need to move certain things into the other .css files. */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body{
    background-color:rgb(255, 255, 255); 
}


.logo {
  height: 60px;             /* control logo size */
  width: auto;
  position: absolute;
  left: 20px;               /* locks logo to left */
}

