/* this is for the main page of the website. still need to add stuff to it. */

.main-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: #8B2E2E;
    
 
}

/*************************************************************/
.service-line {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;

  background-color: rgb(6, 6, 6);
  padding: 16px 0;
  margin-top: -15px;
}

/* Individual words */
.service-line span {
  display: inline-block;          /* hover only on text */
  transition: color 0.25s ease;
}

/* Hover effect */
.service-line span:hover {
  color: #8B2E2E;
  cursor: pointer;
}
/*************************************************************/

.hero {
  min-height: 480px;
  background-image: url("../images/pazhome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px 20px;
}


.hero p {
  font-size: 35px;
  color: white;
  max-width: 1000px;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 800;
  
}

.hero p,
.hero li {
  text-shadow: 0 2px 6px #8B2E2E;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 32px;

  background-color: #8b2e2e; /* deep red */
  color: white;

  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.hero-btn:hover {
  background-color: #6f2323;
  transform: translateY(-2px);
}



/*************************************************************/
.client-title {
  text-decoration: underline;
  font-size: 20px;
}
/*************************************************************/

.service-list  {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  list-style-type: disc;
}

.service-list li {
  padding: 6px 0;
  transition: color 0.25s ease;
}

.service-list li:hover {
  color: #8B2E2E
}
/*************************************************************/






