div {
      border: 1px solid black;
      padding: 10px;
    }

body{
    background-color:rgb(255, 255, 255); 
}


.main-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(209, 73, 46);
}

.service-line {
  width: 100%;
  text-align: center;

  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: none;
  border-right: none;

  background-color:rgb(216, 217, 217);
  padding: 16px 0;
  margin-top: 10px;

  font-family: 'Playfair Display', serif;
  font-size: 10px;
  font-weight: bold;
}




.free-quote {
    font-size: 20px;
}


ul li {
    font-weight: bold;
}




h2 {
    text-align: center;
}

p{
    text-align: center;
}

.DiegoPaz{
    border: 4px solid rgb(24, 23, 23);
}

.img {
    width: 50;
    padding: 20px;
    border: rgb(207, 214, 207) ; 
    margin: auto;
}

.img {
    float: right;
    
}